# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Output folders
dist/
out-tsc/
build/

# IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# System files
.DS_Store
Thumbs.db

# Environment files
.env
*.local

# Compiled JavaScript / TypeScript
*.js
*.js.map
